*{
    padding:0px;
    margin:0px;
    font-family: "Microsoft Yahei", "Helvetica Neue", "Microsoft YaHei Light", Helvetica, Arial, sans-serif;
}
.banner{
    position: fixed;
    min-width: 800px;
    left:0;
    top:0;
    right:0;
    padding-left: 15px;
    background-color:#e7e7e7;
    z-index: 100;
}
.banner a{
    color:#34495e;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}
.banner>.logo{
    font-size: 28px;
}
.banner a:hover{
    color:#1abc9c;
}
.banner>ul{
    display: inline-block;
    margin-left: 30px;
}
.banner>ul>li{
    display: inline-block;
    margin-left: 30px;
}